<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <form method="POST" action="/">
        <div class="mirrorBg"><h1>PELL&nbsp/&nbsp</h1><h1 class="mirror" id="mirrorTxt">MIRROR</h1></div>
        <div><input type="text" class="numField" id="email" name="email" placeholder="ENTER EMAIL"></div>
        <div><button type="submit" class="button" id="setEmail">SET</button></div>
    </form>
    </div>
</body>
</html>
