<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/status.css">
</head>
<body>
    <form method="GET" action='/mirror'>
        <button id="backBttn" class="backBttn">BACK</button>
    </form>
    <div class="mirrorBg"><h1>STATUS</h1></div>
    <div class="statusBox"><ul class="ListParent" id="List"></ul></div>
    <form method="POST" action="/status">
        <div><button id="cancel" class="cancelBttn">CANCEL ALL DOWNLOADS</button></div>
    </form>
    <form method="GET" id="refresh" action="/status" style="display: none;"></form>
    <script>
        listParent = document.getElementById("List");
                    var jsonObject = JSON.parse('{{statusJSON|tojson}}');
                    listParent.innerHTML = "";
                    jsonStr = JSON.stringify(jsonObject);
                    if(jsonStr != '[]')
                    {
                    jsonObject.forEach(function(task) {
                        console.log("listParent");
                        listChild = document.createElement("li");
                        listChild.className = "List";
                        titleDiv = document.createElement("div");
                        titleDiv.className = "ListDiv";
                        titleDiv.innerText = task.title;
                        statsDiv = document.createElement("div");
                        statsDiv.className = "ListDiv";
                        if(task.failed == 'True') {
                        statsDiv.innerText = "Failed"; }
                        else if(task.completed == 'True' && task.failed == 'False' && task.uploaded == 'False') {
                        statsDiv.innerText = "Uploading"; }
                        else if(task.completed == 'True' && task.uploaded == 'True') {
                        linkElement = document.createElement("a");
                        linkElement.href = task.gDriveLink;
                        linkElement.target = "_blank";
                        linkBttn = document.createElement("button");
                        linkBttn.className = "openBttn";
                        linkBttn.innerText = "Open";
                        linkElement.appendChild(linkBttn);
                        statsDiv.appendChild(linkElement);
                        }
                        else {
                        statsDiv.innerText = "Progress: "+task.percentage+" Size: "+task.size+"";}
                        time = task.time;
                        speed = task.speed;
                        timeSpeedDiv = document.createElement("div");
                        timeSpeedDiv.className = "ListDiv";
                        if(time == "999999999 days, 23:59:59.999999"){
                            time = "ETA";
                        }
                        timeSpeedDiv.innerText = "Time: "+time+" Speed: "+speed+"";
                        listChild.appendChild(titleDiv);
                        listChild.appendChild(statsDiv);
                        if(task.completed == 'False' && task.failed == 'False') { 
                        listChild.appendChild(timeSpeedDiv);
                        }
                        listParent.appendChild(listChild);
                    });
                } else {
                    listChild = document.createElement("li");
                    listChild.className = "List";
                    listChild.style.borderStyle = "none"
                    titleDiv = document.createElement("div");
                    titleDiv.className = "ListDiv";
                    titleDiv.innerText = "No Active Tasks";
                    listChild.appendChild(titleDiv);
                    listParent.appendChild(listChild);
                }
    </script>
    <script>
        var jsonObject = JSON.parse('{{statusJSON|tojson}}');
        jsonStr = JSON.stringify(jsonObject);
        if(jsonStr != '[]') {
            var refresh = document.getElementById("refresh");
            setInterval(function(){
                refresh.submit();
            }, 3000);
        }
    </script>
</body>
</html>
